// FONTS START
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// FONTS END

// MIXIN START
@mixin VHcenter($direction, $position) {
	display: flex;
	flex-direction: $direction;
	justify-content: $position;
	align-items: center;
	flex-wrap: wrap;
}

@mixin Shadow {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
// MIXIN END

// GLOBAL VARIABLES START
$themeColor: #3f51b5;
$textColor: white;
// GLOBAL VARIABLES END

html {
	font-size: 62.5%;
}

// GLOBAL STYLING
* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// =========================================================================
// == MAIN CONTAINER START
// =========================================================================
.web_container {
	height: 100vh;
	width: 100%;
	@include VHcenter(row, center);

	& .innerWeb_container {
		height: 80%;
		width: 80%;
		background-color: rgb(242, 242, 242);
		border-radius: 0.6rem;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

		& .inner_body {
			@include VHcenter(row, space-between);
			height: 90%;
			width: 86%;
			margin: auto;
			padding: 5rem 0rem;

			& .right_side,
			.left_side {
				width: 52%;
				height: 100%;
			}

			& .left_side {
				width: 45%;
			}
		}
	}
}

// =========================================================================
// == MAIN CONTAINER START
// =========================================================================

// =========================================================================
// == HEADER START
// =========================================================================
.Header_Container {
	height: 8vh;
	width: 100%;
	background-color: $themeColor;
	color: $textColor;
	letter-spacing: 2.5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
	border-radius: 6px 6px 0px 0px;
	@include VHcenter(row, center);

	& h1 {
		font-size: 3rem;
	}
}

// =========================================================================
// == HEADER END
// =========================================================================

// =========================================================================
// == BALANCE START
// =========================================================================
.balance_section {
	margin: 15px 0px;

	& strong {
		font-size: 1.5rem;
	}

	& h1 {
		font-size: 3.5rem;
		margin-top: -10px;
	}
}

.P-balance {
	color: green;
}

.N-balance {
	color: red;
}

// =========================================================================
// == BALANCE END
// =========================================================================

// =========================================================================
// == ACCOUNT SUMMARY START
// =========================================================================
.AS_Container {
	@include VHcenter(row, space-around);
	margin: 12px 0px;
	padding: 18px 0px;
	background-color: white;
	@include Shadow;
	border-radius: 4px;

	& h2 {
		font-size: 1.5rem;
	}

	& h3 {
		font-size: 2.2rem;
	}
}

// =========================================================================
// == ACCOUNT SUMMARY END
// =========================================================================

// =========================================================================
// == ADD TRANSACTION START
// =========================================================================
.addTransaction_section {
	& h2 {
		margin: 20px 0px;
		font-size: 1.8rem;
		border-bottom: 1px solid black;
	}

	.errorInput {
		border: 0.2rem solid red;
		border-radius: 0.4rem;
	}

	.errors {
		color: red !important;
	}

	& input,
	button,
	.MuiFormControl-root {
		width: 100%;
	}

	& form input {
		padding: 0rem 1rem;
		font-size: 1.6rem;
		transition: 1s all;
		border: none;

		&:focus {
			border: none;
			outline: none;
		}

		&.errorInput:focus {
			border: 0.2rem solid red;
			border-radius: 0.4rem;
		}
	}

	& form label {
		font-size: 1.8rem;
	}

	& form input {
		height: 40px;
	}

	& .MuiFormLabel-root {
		font-size: 1.7rem;
	}

	& .MuiSvgIcon-root {
		font-size: 2.4rem;
	}

	& .MuiInputBase-root {
		font-size: 1.6rem;
		letter-spacing: 0.2rem;
	}

	& .MuiOutlinedInput-adornedStart {
		padding-left: 7px;
	}

	& .MuiButton-contained {
		background-color: $themeColor;
		color: $textColor;
		font-size: 1.5rem;
		border-radius: 3px;

		&:hover {
			background-color: #2f41a7;
		}
	}

	& .MuiInputBase-input {
		background-color: white;
	}
}

// DATE PICKER STYLING START
.MuiPickersToolbarText-toolbarBtnSelected {
	font-size: 2.3rem !important;
}

.MuiTypography-subtitle1 {
	font-size: 1.4rem !important;
}

.MuiTypography-body1 {
	font-size: 1.5rem !important;
}

.MuiTypography-body2 {
	font-size: 1.4rem !important;
}

.MuiSvgIcon-root {
	font-size: 2.4rem !important;
}

.MuiTypography-caption {
	font-size: 1.3rem !important;
}
// DATE PICKER STYLING END

// =========================================================================
// == ADD TRANSACTION END
// =========================================================================

// =========================================================================
// == TRANSACTION HISTORY START
// =========================================================================
.transaction_history {
	margin-left: 3rem;
	background-color: white;
	height: 100%;
	border-radius: 6px;
	@include Shadow;

	.noDataFound {
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;
		color: rgb(150, 150, 150);
	}

	& .TH-body {
		overflow-y: scroll;
		height: 89%;

		&::-webkit-scrollbar {
			width: 0.1em;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		&::-webkit-scrollbar-thumb {
			background-color: $themeColor;
			outline: 1px solid slategrey;
		}
	}

	& h1 {
		@include VHcenter(row, center);
		width: 100%;
		height: 6rem;
		background-color: $themeColor;
		color: $textColor;
		letter-spacing: 2.2px;
		border-radius: 6px 6px 0px 0px;
	}

	.each_transaction {
		height: 6.5rem;
		width: 100%;
		@include VHcenter(row, start);

		& .EALeft_side {
			margin-left: 5px;
			width: 10%;
		}

		& .EARight_side {
			width: 88%;
			padding-right: 1.2rem;
			@include VHcenter(row, space-between);

			& .desc {
				font-size: 1.8rem;
			}
			& .date {
				letter-spacing: 3.2px;
				font-size: 1.1rem;
				font-weight: 600;
				margin-top: -0.4rem;
			}

			& .amount {
				font-size: 1.9rem;
			}
		}
	}
}

.each_transaction:nth-child(odd) {
	background-color: rgba(63, 81, 181, 0.1);
}

// =========================================================================
// == TRANSACTION HISTORY END
// =========================================================================

// =========================================================================
// == MATERIAL UI OVERWRITE START
// =========================================================================
.MuiMenuItem-root {
	font-size: 1.4rem !important;
}

.MuiPaper-elevation8 {
	box-shadow: 0px 0px 2px #3f51b54f !important;
}
// =========================================================================
// == MATERIAL UI OVERWRITE END
// =========================================================================
